<div class="row">
    <div class="content-cell col-sm-12"
         style="padding-top: 15px; padding-bottom: 15px;">
        <p>
            This is a site put together by two average birders (AB1 and
            AB2, if you
            will), for birders of all abilities, although, given our
            averageness, we suspect it will
            mostly be useful for birders of intermediate skill or worse.
        </p>
        <p>
            The first inklings of this site were conceived of in 2018,
            when
            we realised that we were accruing (or possibly refining) a
            decent amount of bird-related information and stories, and
            didn't have a great place to share it.
        </p>
        <p>
            We also realised that while there are great bird guides out
            there, some are a bit dry and, due to their papery nature,
            can
            be burdensome when out and about. What if we could create an
            online
            version, perhaps using a few more dynamic elements?
        </p>
        <figure class="figure">
            <img
                    src="ab1.png"
                    class="figure-img img-fluid rounded"
                    alt="AB1"/>
            <figcaption class="figure-caption text-center">
                AB1
            </figcaption>
        </figure>
        <figure class="figure">
            <img
                    src="ab2.png"
                    class="figure-img img-fluid rounded"
                    alt="AB2"/>
            <figcaption class="figure-caption text-center">
                AB2
            </figcaption>
        </figure>
    </div>
</div>
