<div class="row">
  <div class="content-cell col-sm-12" style="padding-top: 15px; padding-bottom: 15px;">
    <div class="row">
      <div class="col-md-6">
	<p>
      This is a site put together by average birders, for birders of
  all abilities, although, given our averageness, we suspect it will
  mostly be useful for birders of intermediate skill or worse.
	</p>
	<p>
      The first inklings of this site were conceived of in 2018, when
      we realised that we were accruing (or possibly refining) a
      decent amount of bird related information and stories, and
      didn't have a great place to share it.
	</p>
        <p>
	  We also realised that while there are great bird guides out
	  there, some are a bit dry, and by their papery nature, can
	  be an extra burden. What if we could create an online
	  version, perhaps using a few more dynamic elements?
	</p>
      </div>
      <div class="col-md-6" style="text-align: center">
	<img alt="two-average-bakers" class="rounded img-fluid" src="/average-birders.png"/>
      </div>
    </div>
  </div>
</div>
