<div class="row">
  <div class="content-cell col-sm-12 metadata">
    <dl>
      <dt>Published:</dt><dd>{{published-at-date}} @ {{published-at-time}}</dd>
      <dt>Previously:</dt><dd>{{{previously}}}</dd>
      <dt>Next:</dt><dd>{{{next}}}</dd>
    </dl>
  </div>
  <div class="content-cell col-sm-12">
    {{{ main-content }}}
  </div>
  <div class="content-cell col-sm-12 metadata">
    <dl>
      <dt>Previously</dt><dd>{{{previously}}}</dd>
      <dt>Next</dt><dd>{{{next}}}</dd>
    </dl>
  </div>
</div>