<entry>
  <author>
    <name>Average Birders</name>
    <email>average@averagebirding.com</email>
  </author>
  <title>{{title}}</title>
  <link href="http://averagebirding.com{{path}}"/>
  <id>http://averagebirding.com{{id}}</id>
  <updated>{{updated_at_time}}</updated>
  <summary type="html">{{{summary}}}</summary>
</entry>