<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>averagebirding.com</title>
  <link href="http://averagebirding.com/" rel="alternate"/>
  <id>http://averagebirding.com/</id>
  <updated>{{feed_updated_at}}</updated>
  {{{entries}}}
</feed>