<div class="row">
    <div class="cell col-md-12 {{row-class}}">
        <!-- float-right or float-left -->
        <img src="{{image}}" style="margin-{{row-class}}: 0.5em;" class="rounded {{img-class}}" width="200px">
        <h6>From: <a href="{{index-link}}">{{index-title}}</a></h6>
        <h5><a href="{{item-link}}">{{item-title}}</a></h5>
        {{{blurb}}}
    </div>
</div>