<div class="row">
    <div class="cell col-md-12">
        <img src="{{image}}" style="margin-{{row-class}}: 15px;"
             class="rounded thumbnail {{img-class}}" width="200px">
        <h6>Posted at {{time}} on {{date}} in: <a href="{{index-link}}">{{index-title}}</a></h6>
        <h5><a href="{{item-link}}">{{item-title}}</a></h5>
        {{{blurb}}}
    </div>
</div>