<div class="row">
    <div class="cell col-md-12">
      <a href="{{item-url}}">
        <img
            src="{{item-image}}"
            style="margin-{{row-class}}: 15px;"
            class="rounded thumbnail {{img-class}}"
            width="200px">
      </a>
      <h6>Posted at {{time}} on {{date}} in: <a
          href="{{index-url}}">{{index-title}}</a></h6>
      <h5><a href="{{item-url}}">{{item-title}}</a></h5>
      {{{blurb}}}
    </div>
</div>