<div class="row">
  <div class="cell col-sm-6 col-md-4">
    <h5>Site guides</h5> <hr/>
    <p>Bird a place you've not birded before.</p>
    <p>Browse sites:</p>
    <ul>
      <li><a href="sites/on_a_list.html">On a list</a></li>
    </ul>
    <p>We might show them on a map, or by region, once there are a few more</p>
  </div>
  <div class="cell col-sm-6 col-md-4">
    <h5>Birds</h5>
    <hr/>
    <p>Find a bird you've not seen before</p>
  </div>
  <div class="cell col-sm-6 col-md-4">
    <h5>Features</h5>
    <hr/>
    <ul>
      <li><a href="features/200-bird-year/january.html">A 200 bird year: January</a></li>
      <li><a href="features/200-bird-year/february.html">A 200 bird year: February</a></li>
      <li><a href="features/200-bird-year/march.html">A 200 bird year: March</a></li>
    </ul>
  </div>
  <div class="cell col-sm-6 col-md-4">
    <h5>Trip Reports</h5>
    <hr/>
    <ul>
      <li><a href="trip-reports/thursley-july-2018">An uncommon treat at Thursley</a></li>
      <li><a href="trip-reports/handa-july-2018">Skua paradise on Handa</a></li>
      <li><a href="trip-reports/farnes-may-2018">A boat ride around the Farnes</a></li>
    </ul>
  </div>
  <div class="cell col-sm-6 col-md-4">
    <h5>About this site</h5>
    <hr/>
    <p>Who created this site, and who is it for?</p>
    <p><a href="about.html">This page</a> has the answer</p>
  </div>
</div>  
